# Testnet
BSC_TESTNET_RPC=https://data-seed-prebsc-1-s1.binance.org:8545
DEPLOYER_PRIVATE_KEY=3c481f30bc92abb3e2a8ed40c2326b11d022fd0068caf6e90a65d9f428424c3f

# Mainnet (leave unset until you are actually ready to deploy for real)
MAINNET_DEPLOYER_PRIVATE_KEY=
BSC_MAINNET_RPC=https://bsc-dataseed.binance.org
PLATFORM_WALLET=
ARBITRATOR_WALLET=
